body{
    font-size: 20px;
    font-family: serif;
}
.careerlogo{
    height: 35px;
    margin-top: 13px;
    margin-left: 13px;
}
nav ul li a{
    color: #36728e;
}
.nav-wrapper{
    background-color:#B7E3CC;
}
header{
    background-image: url(../img/science2.jpg);
    background-size: cover;
    background-position: center;
    min-height: 400px;
}
.hover:hover{
    color:rgb(245, 11, 11) !important;
}
.icons:hover{
    color:rgb(245, 11, 11) !important; 
}
.sci:hover{
     color: rgb(74, 93, 83)!important;
}
.btn{
    margin-top: 15px;
    text-transform: initial;
    padding-right:0.1px;
    padding-left:0.1px;
}
.me{
    background-color:#e0f2f1 ; 
}
.page-footer{
    background-color:#B7E3CC;
}
.page-title{
    font-size:26px;
    text-align: center;

}

.courses-section .collapsible .collapsible-header{
    position: relative;
}
.courses-section .collapsible .collapsible-header i{
    position: absolute;
    right: 0;
}